modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 3875
externalPort = 4200

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 4097
externalPort = 5000

[[ports]]
localPort = 4138
externalPort = 3002

[[ports]]
localPort = 35865
externalPort = 9000

[[ports]]
localPort = 36699
externalPort = 8000

[[ports]]
localPort = 37813
externalPort = 8080

[[ports]]
localPort = 38451
externalPort = 8081

[[ports]]
localPort = 45681
externalPort = 6800
